<template>
    <div id="loader" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="margin:20% auto;">
            <div class="modal-content" style="max-width:75px; left:45%; background-color: rgba(255, 255, 255, 0)">
                <div class="modal-body" style="padding: 0px;">
                    <img src="/loader/loader-spin.gif" alt="" style="width:75px; display: block; margin-left:0rem; margin-right: 0rem;"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

    name: 'Loader',
    
}
</script>
