<template>
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable-line boxless tabbable-reversed">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-gift"></i>
                                    Convertir
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <form class="horizontal-form" @submit.prevent="SubmitConverter()">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div :class="`form-group ${!form_data.import ? 'has-error' : ''}`">
                                                    <label class="control-label" v-html="'IMPORTE:'"/>
                                                    <input 
                                                        v-model="form_data.import"
                                                        type="number"
                                                        class="form-control"
                                                        placeholder="IMPORTE"
                                                        step="any"
                                                    >
                                                    <span class="help-block" v-if="!form_data.import" v-html="'Introduzca una cantidad válida'"/>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label" v-html="'De:'"/>
                                                    <select class="form-control" v-model="form_data.iso_from" required>
                                                        <option value="" v-html="'Selecciona una opción'"/>
                                                        <option v-for="item, i in currencies" :key="i" :value="item.value" v-html="`${item.value} - ${item.name}`"/>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <label class="control-label" style="color:white">-</label>
                                                    <br>
                                                    <button class="btn btn-circle blue btn-outline" @click="converseRevert()" type="button" :disabled="!form_data.iso_from || !form_data.iso_to ? true : false">
                                                        <i class="fa fa-exchange"/>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label" v-html="'a:'"/>
                                                    <select class="form-control" v-model="form_data.iso_to" required :disabled="!form_data.iso_from ? true : false">
                                                        <option value="" v-html="'Selecciona una opción'"/>
                                                        <option v-for="item, i in currencies" :key="i" :value="item.value" v-html="`${item.value} - ${item.name}`"/>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="portlet-body" v-if="body_info.show">
                                            <div class="row">
                                                <div class="col-md-12" >
                                                    <p v-html="`${parseFloat(body_info.import)} ${body_info.iso_from} =`"/>
                                                    <p class="lead" style="font-weight: bold;" v-html="import_convertion_str"/>
                                                    <p v-html="`1 ${body_info.iso_from} = ${body_info.rate_to} ${body_info.iso_to}`"/>
                                                    <p v-html="`1 ${body_info.iso_to} = ${body_info.rate_from} ${body_info.iso_from}`"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions right">
                                        <button type="button" class="btn default">Cancel</button>
                                        <button type="submit" class="btn blue">
                                            <i class="fa fa-check"/>
                                            Convertir
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Loader/>
    </div>
</template>

<script>
import Mixin from './Mixin'
import Loader from '@/js/components/Loader'

export default {

    name: 'HomeComponent',
    props: [],
    components: {
        Loader,
    },
    mixins: [
        Mixin,
    ],

    async mounted()
    {
        this.form_data.ip_address = await this.IpCallerApi()
        this.form_data.iso_from = 'USD'
        this.form_data.iso_to = 'EUR'
    }
}
</script>